# build
build/
*.o
*.d
*.bin
*.elf
*.map
*.a
*.hex
*.log

# cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# ninja
.ninja_deps
.ninja_log
build.ninja

# esp-idf temporarty things
sdkconfig
sdkconfig.old
config.env

# vscode settings
.vscode/
